@model List<Model.EF.Slide>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section jsFooter{
    <script src="~/Content/admin/js/controller/slideController.js"></script>
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">
        Slide | <a class="link-property" href="/Admin/Slide/Create"><i class="fa fa-plus-square text-secondary"></i></a>
    </h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-light border-bottom-0">
        <h6 class="m-0 font-weight-bold text-primary">Slide Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Decription</th>
                        <th>Display Order</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Function</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Decription</th>
                        <th>Display Order</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="link-property" href="/Admin/Slide/Edit/@item.ID"><i class="fa fa-edit" style="font-size:20px; "></i></a>
                                <a class="link-property" href="/Admin/Slide/Detail/@item.ID"><i class="fa fa-newspaper-o" style="font-size:20px;"></i></a>
                                <a class="link-property" href="/Admin/Slide/Delete/@item.ID"><i class="fa fa-close" style="font-size:20px"></i></a>
                            </td>
                            <td><img src="~/Data/ImgSlide/@item.Image" height="150" /></td>
                            <td>@item.Title</td>
                            <td>@item.Decription</td>
                            <td>@item.DisplayOrder</td>
                            <td>
                                <a href="#" class="btn-active" data-id="@item.ID">
                                    @if (@item.Status == false)
                                    {
                                        <i class="fa fa-lock"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-check"></i>
                                    }
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

