@model Model.EF.About
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Information About
        <a class="link-property" href="/Admin/About/Index"><i class="fa fa-list text-secondary"> </i></a>
        <a class="link-property" href="/Admin/About/Edit/@Model.ID"><i class="fa fa-edit text-secondary"></i></a>
    </h1>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.Name) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="form-group col-md-6">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.Phone) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.Email) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
            <div class="form-group col-md-6">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.Address) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.CreateDate) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
            </div>
            <div class="form-group col-md-6">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.CreatedBy) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.ModifiedDate) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
            </div>
            <div class="form-group col-md-6">
                <dt>
                    <h3>@Html.DisplayNameFor(model => model.ModifiedBy) :</h3>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
            </div>
        </div>
    </dl>
</div>

