@model EWBOK_Final_Project.Areas.Admin.Model.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}
<h1 class="error">EWBOK</h1>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side">
            <h2> ĐĂNG NHẬP </h2>
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                if (TempData["ValidationSumary"] == null)
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                }
                <div class="clear"></div>
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <div class="form-left-to-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-form", placeholder = "Username" })
                    <div class="clear"></div>
                </div>
                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                <div class="form-left-to-w3l ">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    @Html.PasswordFor(model => model.PassWord, new { @class = "input-form", placeholder = "Password" })
                    <div class="clear"></div>
                </div>


                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <span class="remenber-me"></span>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for"></a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit">Login</button>
                </div>
            }
            <div class="w3layouts_more-buttn">
                @*<h3>
                    Don't Have an account..?
                    <a href="#">
                        Register Here
                    </a>
                </h3>*@
            </div>

        </div>
        <div class="img-right-side">
            <h3>Chào mừng đến với EWBOK Admin</h3>
            <p>Tri thức là nguồn cảm hứng cho mọi sự sáng tạo và khám phá.</p>
            <img src="~/Content/admin/images/book.png" class="img-fluid" alt=""/>
        </div>
    </div>
</div>

