@model EWBOK_Final_Project.Models.RegisterModel

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <form action="/Login/Register" method="post" class="aa-login-form">
        @Html.LabelFor(x => x.Username)<span>*</span>
        <input name="Username" type="text" placeholder="Username">
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

        @Html.LabelFor(x => x.Password)<span>*</span>
        <input name="Password" type="password" placeholder="Password">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        @Html.LabelFor(x => x.ConfirmPassword)<span>*</span>
        <input name="ConfirmPassword" type="password" placeholder="Confirm Password" />
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

        @Html.LabelFor(x => x.Name)<span>*</span>
        <input name="Name" type="text" placeholder="Name" />
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        @Html.LabelFor(x => x.Email)<span>*</span>
        <input name="Email" type="text" placeholder="Email" />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        @Html.LabelFor(x => x.Phone)
        <input name="Phone" type="text" placeholder="Phone number" />
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

        @Html.LabelFor(x => x.Address)
        <input name="Address" type="text" placeholder="Address" />
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        <button type="submit" class="aa-browse-btn">Register</button>
    </form>

