@model Model.sp_Models.RentingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">
        Renting
    </h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-light border-bottom-0">
        <h6 class="m-0 font-weight-bold text-primary">Rent Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" action="/Admin/Rent/Return" id="frm-example">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Checked</th>
                            <th>Name</th>
                            <th>ID Number</th>
                            <th>Rent Money</th>
                            <th>Deposit</th>
                            <th>Peanlty</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Checked</th>
                            <th>Name</th>
                            <th>ID Number</th>
                            <th>Rent Money</th>
                            <th>Deposit</th>
                            <th>Peanlty</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (int i = 0; i < Model.ListReting.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(model => model.ListReting[i].IsChecked)
                                    @Html.HiddenFor(model=>model.ListReting[i].ProductID)
                                    @Html.HiddenFor(model=>model.ListReting[i].RentID)
                                    @Html.HiddenFor(model=>model.ListReting[i].UserID)
                                    @Html.HiddenFor(model=>model.ListReting[i].RentProductID)
                                </td>
                                <td>@Model.ListReting[i].ProductName</td>
                                <td>@Model.ListReting[i].IDNumber</td>
                                <td>@Model.ListReting[i].RentMoney</td>
                                <td>@Model.ListReting[i].Deposit</td>
                                <td>@Model.ListReting[i].Penalty</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div class="form-group col-md-3">
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Return" />
                </div>
            </form>
        </div>
    </div>
</div>

