@model Model.EF.Feedback
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var about = (Model.EF.About)ViewBag.About;
}

<!-- catg header banner section -->
    <section id="aa-catg-head-banner">
        <img src="~/Content/client/img/slide/book_heart_page_shadow_light_25736_1920x1080.jpg" width="1920" height="300" alt="fashion img"/>
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>Liên hệ</h2>
                    <ol class="breadcrumb">
                        <li><a href="/Home">Trang chủ</a></li>
                        <li class="active">Liên hệ</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
<!-- / catg header banner section -->
<!-- start contact section -->
<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>EWBOK - Bookstore</h2>
                        <p>Cửa hàng luôn đón nhận những phản hồi từ bạn</p>
                    </div>
                    <!-- contact map -->
                    <div class="aa-contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d617.2765143388043!2d106.66729012379325!3d10.775951239880767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edba026cb75%3A0xb2a9aab49da1c58f!2zMTU1IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1594397058590!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Contact address -->
                    <div class="aa-contact-address">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="aa-contact-address-left">
                                    <form class="comments-form contact-form" action="@Url.Action("Feedback","Contact")" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(x => x.Name, "", new { @class = "form-control", placeholder = "Tên" })
                                                    @*<input name="Name" type="text" placeholder="Tên bạn" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", placeholder = "Email" })
                                                    @*<input name="Email" type="email" placeholder="Email" class="form-control">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(x => x.Phone, "", new { @class = "form-control", placeholder = "Số điện thoại" })
                                                    @*<input name="Phone" type="text" placeholder="Số điện thoại" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(x => x.Address, "", new { @class = "form-control", placeholder = "Địa chỉ" })
                                                    @*<input name="Address" type="text" placeholder="Địa chỉ" class="form-control">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                                                    @Html.TextAreaFor(x => x.Content, 3, 0, new { @class = "form-control", placeholder = "Nội dung" })
                                                    @*<textarea name="Content" class="form-control" rows="3" placeholder="Nội dung"></textarea>*@
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="aa-secondary-btn">Gửi</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="aa-contact-address-right">
                                    <address>
                                        <h4>@about.Name</h4>
                                        <p>@about.Decription</p>
                                        <p><span class="fa fa-home"></span>@about.Address</p>
                                        <p><span class="fa fa-phone"></span>@about.Phone</p>
                                        <p><span class="fa fa-envelope"></span>Email: @about.Email</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

